<mat-card class="driver-card">
  <mat-card-content>
    <h2>Driver List</h2>
    <div class="table-container">
      <table mat-table [dataSource]="drivers" class="mat-elevation-z8">
        <ng-container matColumnDef="driverid">
          <th mat-header-cell *matHeaderCellDef> Driver ID </th>
          <td mat-cell *matCellDef="let driver"> {{driver.driverid}} </td>
        </ng-container>

        <ng-container matColumnDef="drivername">
          <th mat-header-cell *matHeaderCellDef> Driver Name </th>
          <td mat-cell *matCellDef="let driver"> {{driver.drivername}} </td>
        </ng-container>

        <ng-container matColumnDef="phonenumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let driver"> {{driver.phonenumber}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let driver">
            <div class="action-buttons">
              <button mat-button (click)="editDriver(driver.driverid)">Edit</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
